public class Secret
{
    public static readonly string serverIP = "";
    public static readonly int serverHttpPort = 8080;
    public static readonly int serverUdpPort = 9090;
    public static readonly int clientUdpPort = 19090;
}
